h3{
    background: yellow;
}
    .e1i{
        background: red;
        width:200px;
        height:300px;
        padding:10px 20px 30px 40px;
        margin:10px 20px 30px 40px;
        border: 4px double black;
    }